# Archivos y carpetas de Unity para ignorar
Llaves
Library
Logs
Temp
Obj
UserSettings
Mociones

# Archivos y carpetas de proyecto
Build/
Builds/
ExportedObj/
.DS_Store
Thumbs.db
.vsconfig

# Archivos de compilación de Visual Studio
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userosscache
*.sln.docstates
.vscode/

# Archivos de sistema
.idea/
.vscode/
.vs/
